body {
  text-align: center;
  background-size: cover;
  /*color: #fff;*/
  font-family: europa, sans-serif;
  font-weight: 300;

}

h1{
	text-transform: uppercase;
	font-family: europa, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size:20px;
	letter-spacing: 10px;
	padding-bottom: 50px;
	padding-top: 50px

}

#welcome {
	text-transform: lowercase;
	font-style: normal;
	font-weight: 300;
	font-size:20px;
	letter-spacing: 3px;
	padding-bottom: 20px

}

#about {
	font-style: normal;
	font-weight: 300;
	font-size:17px;

}