* { margin:0; padding:0; box-sizing:border-box; } 

#logo_image img{
	width: 150px;
}

header img {
	max-width: 100%;
}

#about img{
	width: 300px;
}


header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	display: block;
}

#about {
	background-color: pink;
}

#testimonials {
	background-color: rgba(30,10,100,.4);
}

.section_nav {
	width: 100%;
	background-color: #CCCC;
	border: 1px black solid;
	padding: 20px;
}

.section_nav img {
	width: 100%;
}

.section_nav_ind {
	background-color: violet;
	border: 1px black solid;
	display: block;
	margin: 0 auto;
	float: left;
	width:46%;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear:both;
	height:0;
}

/*#digital {
	background-color: violet;
	border: 1px black solid;
	padding:20px;
	float: left;
	width: 30%;
}

#print {
	background-color: pink;
	border: 1px black solid;
	padding:20px;
	float: right;
	width: 62%;
}*/

/*#branding {
	background-color: #E582A2;
	border: 1px black solid;
	padding:20px;
}
#art {
	background-color: #E582A2;
	border: 1px black solid;
	padding:20px;
}*/

}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;

}
/*body {
  text-align: center;
  background-size: cover;
  /*color: #fff;*/
 /* font-family: europa, sans-serif;
  font-weight: 300;

}

h1{
	text-transform: uppercase;
	font-family: europa, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size:20px;
	letter-spacing: 10px;
	padding-bottom: 50px;
	padding-top: 50px

}

#welcome {
	text-transform: lowercase;
	font-style: normal;
	font-weight: 300;
	font-size:20px;
	letter-spacing: 3px;
	padding-bottom: 20px

}

#about {
	font-style: normal;
	font-weight: 300;
	font-size:17px;

}*/*/