#logo_image img{
	width: 150px;
}

header img {
	max-width: 100%;
}

#about img{
	width: 300px;
}

.section_image img{
	width: 150px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#about {
	background-color: pink;
}

#testimonials {
	background-color: rgba(30,10,100,.4);
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
/*body {
  text-align: center;
  background-size: cover;
  /*color: #fff;*/
 /* font-family: europa, sans-serif;
  font-weight: 300;

}

h1{
	text-transform: uppercase;
	font-family: europa, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size:20px;
	letter-spacing: 10px;
	padding-bottom: 50px;
	padding-top: 50px

}

#welcome {
	text-transform: lowercase;
	font-style: normal;
	font-weight: 300;
	font-size:20px;
	letter-spacing: 3px;
	padding-bottom: 20px

}

#about {
	font-style: normal;
	font-weight: 300;
	font-size:17px;

}*/*/